lizMap.events.on({
    uicreated: function (e) {
        let template = `<div id="cesiumContainer"></div>`
        let cesiumScript = document.createElement('script')
        cesiumScript.src = 'https://cdnjs.cloudflare.com/ajax/libs/cesium/1.108.0/Cesium.js'
        document.body.appendChild(cesiumScript)
        lizMap.addDock(
            'threejs',
            'Vue 3D',
            'right-dock',
            template,
            'icon-globe'
        );
        let cesiumContainer = document.getElementById('cesiumContainer')
        let viewer = new Cesium.Viewer(cesiumContainer, {})
    }
});